/* header */
.header {
  /* height: 10rem; */
}
/* logo */

.logo {
  width: 20rem;
}

.logo img {
  width: 100%;
  padding-left: 2rem;
}

/* navigation */

/* new navigation css */
.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  position: fixed;
  top: 3.5rem;
  right: 2.5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  /* background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ); */
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111),
      rgba(40, 180, 133)
    ),
    url("../../assets/img/Homepage.png");
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transform: scale(0);
}

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../../assets/img/Homepage.png") top center/cover;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(60%, -50%);
  list-style: none;
  text-align: center;
  transition: all 0.4s;
  z-index: -1;
  pointer-events: none;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 5.4rem;
  font-weight: 900;
  padding: 1rem 2rem;
  color: #fff;
  transition: all 0.4s;
  letter-spacing: 4px;
  font-family: Roboto;
}
/* .navigation__link:link span,
  .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block;
  } */

.navigation__link:hover,
.navigation__link:active {
  /* background-position: 100%; */
  color: var(--color-yellow);
}

.navigation__checkbox:checked ~ .navigation__button {
  /* opacity: 1; */
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.navigation__checkbox:checked ~ .navigation__background {
  opacity: 1;
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  z-index: 1500;
}

.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  transform: translate(-50%, -50%);
  pointer-events: all;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navigation__link {
  position: relative;
}

.navigation__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 10px;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0%;
  left: 0;
  background: var(--color-yellow);
  transition: all 0.3s;
}

.navigation__link:hover::after {
  width: 100%;
  transform: rotate(-2deg);
  border-top-left-radius: 1000%;
}

/* navigation item */
@media (max-width: 485px) {
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 4.5rem;
  }
}

@media (max-width: 416px) {
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 4rem;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .navigation__button {
    right: 6rem;
  }

  .navigation__background {
    right: 6.5rem;
  }
}
