@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-dark: hsl(0, 0%, 10%);
  --color-yellow: #feba12;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 45.5%;
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
